html, body {
    padding:0;
    margin: 0;
}

.simple-modal {
    --gutter: 14px;
    --modal-color: #800000;
    --soft-color: #fafafa;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    padding-top: 2%;
}
.simple-modal__content {
    width: 95vw;
    height: 90vh;
    max-height: 700px;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.simple-modal__content header {
    min-height: 60px;
    height: 60px;
    color: #fff;
    background-color: var(--modal-color);
    display: grid;
    padding-left: var(--gutter);
    align-items: center;
    grid-template-columns: auto 60px;
}
.simple-modal__content header h4 {
    margin: 0;
    text-align: left;
}
.simple-modal__content header span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
}
.simple-modal__content header span:hover {
    opacity: 1;
}
.simple-modal__content .modal-main {
    flex: 1;
    text-align: left;
    overflow: auto;
    padding: var(--gutter);
}
.simple-modal__content footer {
    height: auto;
    text-align: right;
    border-top: solid 1px #ccc;
    padding: var(--gutter);
    background-color: #fff;
    background-color: var(--soft-color);
}
.simple-modal__content footer button, .simple-modal__content footer input {
    margin: 0;
}
.simple-modal__content footer button:not(:last-child), .simple-modal__content footer input:not(:last-child) {
    margin-right: var(--gutter);
}
.container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(http://picsum.photos/2000);
}