/* #region General */
@font-face {
    font-family: "JosefinMedium";
    src: url('./fonts/JosefinSans-Medium.woff2') format('woff2');
}
@font-face {
    font-family: "JosefinBold";
    src: url('./fonts/JosefinSans-Bold.woff2') format('woff2');
}


html, body {
    padding:0;
    margin:0;
    font-family: 'JosefinMedium', sans-serif;
    
    --greencity-blue: #00274c;
    --greencity-lightblue: #758587;
    --greencity-yellow: #ceb888;
}

#main-container {
    position: absolute;
    left:0; top:0; width:100%; height:100%;
    background-color: #dddddd;
    /* font-family: Arial, Helvetica, sans-serif; */

    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;

    display: none;
}

#main-container2 {
    position: absolute;
    left:0; top:0; width:100%; height:100%;
    background-color: var(--greencity-blue);
    color: #ffffff;
    user-select: none;

    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
}




/* #endregion */

/* #region Page produits */
#options-header {
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap:10px;


    padding:10px 15px;
    width:calc(100% - 30px);
}
#options-header #green_city_logo {
    width: 140px;
}
#options-header h2 {
    font-family: 'JosefinBold'
}
#options-header #navigation {
    width: 140px;
}

#options-content {
    width:100%;
    flex-grow: 1;   
    overflow:auto;

    /* background-color:#ceb888; */
    
}
#options-subcontent {
    padding: 15px;
    margin:0 auto; 
    max-width:900px;
    height:calc(100% - 30px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.options-element {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.options-element .options-element-titre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'JosefinBold';
    color: var(--greencity-blue);
    font-size: 1.1em;
    background-color: #ffffff;
    text-align: center;
    padding:9px 0 5px 0;
}
.options-element .options-element-liste {
    color: #ffffff;
    background-color: var(--greencity-lightblue);
    /* padding:5px; */
}
.options-element .options-element-liste ul {
    line-height: 130%;
}
.options-element .options-element-liste li:hover {
    color: var(--greencity-blue);
    font-weight: 800;
}

#pareBain,  #receveurs, #paroisDouche, #portesDouche {
    cursor: pointer;
 }
/* #endregion */


/* --------------------------------- */
/* #region Lightbox - Popup produits */
#lightbox-container {
    --gutter: 14px;
    --soft-color: #fafafa;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* z-index: 20; */
    z-index: 1;
    /* display: block; */
    display: none;
    position: fixed;
    /* background-color: rgba(256, 256, 256, .2); */
    background-color: rgba(80, 80, 80, .6);
    padding-top: 2.5vh;
}
#lightbox {
    width: 95vw;
    height: 95vh;
    /* max-height: 700px; */
    max-width: 650px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

/* Popup produits - Header */
#lightbox header {
    min-height: 60px;
    height: 60px;
    color: #fff;
    background-color: #ffffff;
    user-select: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#lightbox header #produit-categorie {
    padding: 0 15px;
    margin: 0;
    text-align: center;
    height:100%;
    background-color: var(--greencity-blue);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.4em;
}
#lightbox header span.popup-produits-header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
    color: #454545;
    padding:0 5px;
}
#lightbox header span.popup-produits-header-btn:hover {
    opacity: 1;
}
#lightbox header #popup-produits-btn-back {
    visibility: hidden;
}

/* Popup produits - Content container */
#popup-produits-content-container {
    width: 100%;
    flex-grow: 1;
    /* background-color: greenyellow; */
}
 
/* Popup produits - Liste */
#popup-produits-liste {
    
    width: 100%;
    height: 100%;
    z-index: 1;
    user-select: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.popup-produits-liste-element {
    
    width: 200px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.popup-produits-liste-element .image-container {
    width: 100%;
    background-color: #ffffff;
}
.popup-produits-liste-element .image-container img {
    display: block;
    width: 100%;
}
.popup-produits-liste-element .titre {
    width:100%;
    text-align: center;
    padding: 20px 0;
    background-color: #00274c;
    color: #ffffff;
}


/* Popup produits - Fiche */
#popup-produits-fiche-container {
    display: none;
    z-index:0;
}
.swiper-slide-container {
    position:relative;
    width:100%;
    height:100%;
    z-index:0;
}
.swiper-slide-subcontainer {   
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
}
.swiper {
    width: 100%;
    max-width:650px;
    min-width: 300px;
    height: 100%;
}
#lightbox .swiper-pagination-bullet-active {
    background-color: var(--greencity-blue) 
}
#lightbox .swiper-button-prev {
    color: var(--greencity-blue);
}
#lightbox .swiper-button-next {
    color: var(--greencity-blue);
}
#lightbox .swiper-button-prev::after {
    font-size: 1.5em;
}
#lightbox .swiper-button-next::after {
    font-size: 1.5em;
}

.fiche-produit {
    position:relative;  
    max-width: 575px;
    margin: 0 auto;
    height: calc(100% - 25px);
}
.fiche-produit .modal-main {
    /* flex: 1; */
    text-align: left;
    overflow: auto;
    padding: var(--gutter);
    
    height: calc(100% - 25px);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.fiche-produit .modal-main .produit-marque {
    display: inline-block;
    background-color: var(--greencity-yellow);
    padding: 15px 12px 12px 12px;
    font-size:2.2em;
    font-weight: 600;
    text-align: center;
    line-height: 1.2em;
}
.fiche-produit .modal-main .produit-nom {
    font-weight: 600; 
    font-size: 1.1em;
    padding: 10px 0;
}
.fiche-produit .modal-main .produit-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.fiche-produit .modal-main .produit-picture {
    /* float: right; */
    /* margin: 0 0 10px 10px; */
    /* clear: both; */
    
    max-width:40%;
    opacity: 1;
}



.fiche-produit footer {
    height: auto;
    border-top: solid 1px #ccc;
    padding: 5px;
    background-color: #fff;
    background-color: var(--soft-color);
}

@media screen and (max-width: 600px) {
    
    .fiche-produit .modal-main .produit-marque {
        font-size: 1.6em;
        padding: 12px 9px 9px 9px;
    }
    .fiche-produit .modal-main .produit-nom { 
        font-size: 1.0em;
        padding: 8px 0;
    }
    .fiche-produit .modal-main .produit-descriptif {
        font-size:0.8em;
    }
}
/* #endregion */
/* --------------------------------- */




/* #region Menu */
#menu-container {
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    gap:10px;
    background-color: #ffffff;
    padding:5px;
    width:calc(100% - 10px);
    user-select: none;
}
.menu-item {
    border:1px solid #eee;
    border-radius: 3px;
    background-color: #ADCFBF;
    padding:8px;
    cursor:pointer;
}
.menu-item:hover {
    background-color: #CFEFDF;
}
.menu-item.active {
    background-color: #597969;
    color: #ffffff;
}
/* #endregion */

/* #region Fiche-container */
#fiche-container {
    background-color: forestgreen;
    width:100%;
    flex-grow: 1;
    
    overflow:auto;
}
#fiche-subcontainer {

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;

    min-height:100%;
}
.fiche {
    max-width:800px;
    min-width:300px;
    margin:0 auto;
    background-color: #dddddd;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: start;
    gap:20px;
}
.fiche-title {
    color:#464646;
    text-align: center;
}
.fiche-body {
    padding:10px;
}
.fiche-body img {
    float: right;
    margin: 0 0 10px 10px;
    clear:both;
    max-width:50%;
}
/* #endregion */
